body {
    background-color: #d8d8d8 !important;
    padding-top:75px;
}

.side {
    background-color: white;
}

.draftable-players {
    height: calc(100vh - 350px);
    overflow: scroll;
}

.solutions-container {
    background-color: white;
    margin-bottom: 30px;
    min-height: 350px;
}


.lineup > .player-card {
    width: 250px;
}

.player-card.compact {
    min-width: 250px;
}

.result-value {
    color: green;
}

.nav-link {
    color: #d8d8d8 !important;
}

.nav-link.active {
    color: black !important;
}

.player-skeleton {
    width: 75px;
}

.sport-logo {
    height: 250px;
    object-fit: contain;
}

.footer {
    margin-top: 100px;
    background-color: #EEEEEE;
}